
<div class="col-md-2">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                        </span>Content</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse ">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <a class="btn" href="/processDefinition">
                                      Process Definition
                                    </a>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <a class="btn" href="/processDesigner">
                                  Process Designer
                                </a> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
</div>
