<div class="tools-sidebar" id="toolsSideBar">
  <ul>
    <li>
      <a href="#"><i class="fa fa-filter"></i></a>
      <ul>
        <li class="header">Layout Options</li>
        <li class="content">
          <ul>
            <li>
              <span>Fixed Layout<p-inputSwitch [(ngModel)]="checked1" class="switch-toggle pull-right"></p-inputSwitch></span>
            </li>
            <li>
              <span>Boxed Layout<p-inputSwitch [(ngModel)]="checked2" class="switch-toggle pull-right"></p-inputSwitch></span>
            </li>
            <li>
              <span>Toggle Sidebar<p-inputSwitch [(ngModel)]="checked3" class="switch-toggle pull-right"></p-inputSwitch></span>
            </li>
            <li>
              <span>Sidebar Expand on Hover <p-inputSwitch [(ngModel)]="checked4" class="switch-toggle pull-right"></p-inputSwitch></span>
            </li>
            <li>
              <span>Toggle Right Sidebar Skin <p-inputSwitch [(ngModel)]="checked5" class="switch-toggle pull-right"></p-inputSwitch></span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-paint-brush"></i></a>
      <ul>
        <li class="header">Skins</li>
        <li class="content">
          <ul class="skins">
            <li>
              <a href="javascript:void(0);" class="skin-default" pTooltip="Skin Default" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
                
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-blue" pTooltip="Skin Blue" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-red" pTooltip="Skin Red" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-purple" pTooltip="Skin Purple" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-yellow" pTooltip="Skin Yellow" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-blue-light" pTooltip="Skin Blue Light" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-purple-light" pTooltip="Skin Purple Light" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-green-light" pTooltip="Skin Green Light" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-red-light" pTooltip="Skin Red Light" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="skin-yellow-light" pTooltip="Skin Yellow Light" tooltipPosition="top">
                <div class="skin-head"></div>
                <div class="skin-sidebar"></div>
                <div class="skin-wrapper"></div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
