/* Header */

.title-comp {
    color: #FFF;
    font-weight: bold;
    margin-top: 12px;
    border-right: solid 1px #00C0EF;
    padding-right: 15px;
    padding-left: 15px;
}

.skin-blue .main-header .logo{
    font-size: 19px;
}

.main-header .logo .logo-lg img {
    position: relative;
    margin: -3px 7px 0 -7px;
}


/* Left Menu */

@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover>a>.pull-right-container{
        left: 230px !important;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover>a>span:not(.pull-right),
    .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover>.treeview-menu{
        width: 230px;
        white-space: normal
    }
}



/* Wizard */

.board-inner{
    margin-bottom: 15px;
    border-bottom: #e0e0e0 solid 1px;
}

.board-inner .nav-tabs{
    position: relative;
    border-bottom: 0;
    margin-bottom: 20px;
}

.board-inner .nav-tabs:before {
    content: '';
    background-color: #e0e0e0;
    height: 2px;
    width: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.board-inner .nav-tabs > li {
    width: 25%;
}

.board-inner .nav-tabs > li a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    border-radius: 100%;
    padding: 0;
}

.board-inner span.round-tabs {
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 20px;
}


/* active buttons */
.board-inner  span.round-tabs{
    color: #555555;
    border: 2px solid #333;
}
.board-inner a.active span.round-tabs { 
    border: 2px solid #22a7f0;
    color: #22a7f0;
}


.board-inner a.active span.round-tabs{
    position: relative
}
.board-inner a.active span.round-tabs:after{
    content: " ";
    position: absolute;
    width: 15px;
    left: 0;
    right: 0;
    opacity: 1;
    top: 42px;
    border: 10px solid transparent;
    border-bottom-color: #22a7f0;
    margin: auto;
}


/* Form Controls */
.form-control{
-webkit-transition: .2s;
transition: .2s;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

textarea.form-control{
    min-height: 22px
}

.form-control:focus ~ .ng-validation-icon{
    opacity: 0
}

.form-control ~ .ng-validation-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    height: 12px;
    z-index: 99;
    display: inline-block;
    font: normal normal normal 12px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity ease-out .3s;
}

input[type="number"].form-control ~ .ng-validation-icon{
    right: 25px
}

.form-control.ng-touched.ng-invalid ~ .ng-validation-icon:after{
    content: "\f071";
    color: rgba(193, 26, 23, 0.7);
}

.form-control.ng-touched.ng-valid ~ .ng-validation-icon:after{
    content: "\f00c";
    color: rgba(0, 166, 90, 0.7);
}

/* Angular Controls */

.ui-widget{
    font-family: Arial
}

.form-control-ng{
    font-size: 11px;
    position: relative;
    float: left;
    width: 100%
}


.form-control-ng[required] .ui-inputtext{
    background-color: #FBE3E4;
}

.form-control-ng[required] .ui-inputtext,.form-control-ng[required] .ui-multiselect .ui-multiselect-label{
    background-color: #FBE3E4;
}

.form-control-ng .ui-inputtext{
    height: 22px;
    padding: 3px 12px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0;
    width: 100%;
    float: left;
}

.form-control-ng.ui-inputwrapper-focus .ui-inputtext,.form-control-ng.ui-inputwrapper-focus .ui-state-default.ui-dropdown .ui-dropdown-label{
    border-color: #3c8dbc;
}

.form-control-ng.ui-inputwrapper-focus .ui-calendar .ui-calendar-button,.form-control-ng.ui-inputwrapper-focus .ui-dropdown .ui-dropdown-trigger{
    border-left-color: #3c8dbc;
}


/* Validators */

.form-control-ng .ui-calendar:after,.form-control-ng .ui-dropdown:after{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 12px;
    display: inline-block;
    font: normal normal normal 12px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity ease-out .3s
}
.form-control-ng .ui-calendar:after{
    right: 32px;
}
.form-control-ng .ui-dropdown:after{
    right: 23px;
}

.form-control-ng .ui-dropdown.ui-state-focus, 
.form-control-ng .ui-multiselect.ui-state-focus{
    box-shadow: 0 0 !important
}

.form-control-ng.ng-dirty.ng-touched.ng-invalid .ui-inputtext{
    border-bottom-color: #d6d6d6!important;
}


/* Invalid Input */

.form-control-ng.ng-touched.ng-invalid .ui-calendar:after,
.form-control-ng.ng-touched.ng-invalid .ui-dropdown:after{
    content: "\f071";
    color: rgba(193, 26, 23, 0.7);
}

/* Invalid Input */

/* Valid Input */

.form-control-ng.ng-touched.ng-valid .ui-calendar:after,
.form-control-ng.ng-touched.ng-valid .ui-dropdown:after{
    content: "\f00c";
    color: rgba(0, 166, 90, 0.7);
}

/* Valid Input */

/* Focus Input */

.form-control-ng.ui-inputwrapper-focus .ui-calendar:after,
.form-control-ng.ui-inputwrapper-focus .ui-dropdown:after{
    opacity: 0
}

/* Focus Input */

.form-control-ng.ui-inputwrapper-focus .ui-inputtext,
.form-control-ng.ui-inputwrapper-focus .ui-state-default.ui-dropdown .ui-dropdown-label,
.form-control-ng.ui-inputwrapper-focus.ng-dirty .ui-inputtext,
.form-control-ng.ui-inputwrapper-focus.ng-dirty .ui-state-default.ui-dropdown .ui-dropdown-label{
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}

/* Validators */


/* DatePicker */

.form-control-ng  .ui-calendar{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.form-control-ng  .ui-datepicker table{
    font-size: inherit
}


.form-control-ng  .ui-calendar .ui-button-icon-only .fa{
    display: inline-block;
    top: 0;
    left: 0;
    margin: 0;
    width: auto;
    position: relative;
    padding: 0;  
    }

.form-control-ng .ui-calendar .ui-calendar-button{
    right: 0;
    margin: 0;
    color: #999;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 0;
}

.form-control-ng .ui-calendar .ui-calendar-button:hover{
    background: #fff;
    color: #999;
    border: 1px solid #ccc;
}

.form-control-ng .ui-datepicker.ui-widget{
    top: 100%!important;
    width: auto
}


/* DatePicker */


/*Time Picker*/

.form-control-ng .ui-timepicker > div{
    margin: 0
}
.form-control-ng .ui-timepicker > div:not(.ui-separator){
    padding: 0 5px
}


/* Dropdown */

.form-control-ng .ui-state-default.ui-dropdown{
    border: 0;
    border-radius: 0;
    width: 100%!important
}

.form-control-ng .ui-state-default.ui-dropdown .ui-dropdown-label{
    border: 1px solid #d6d6d6;
}


.form-control-ng .ui-dropdown .ui-dropdown-trigger{
    border: 1px solid #d6d6d6;
    border-radius: 0;
    padding: 3px;
}

.form-control-ng .ui-dropdown .ui-dropdown-trigger .fa{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}

.form-control-ng .ui-dropdown-panel .ui-dropdown-list {
    padding: 0;
    border-radius: 0;
}

.form-control-ng .ui-dropdown-panel .ui-dropdown-item{
    border-radius: 0
}
.form-control-ng .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight{
    background-color: #03A9F4;
}


/* Multi Dropdown */

.form-control-ng .ui-multiselect{
    border: 0;
    border-radius: 0;
    display: block
}

.form-control-ng .ui-multiselect .ui-multiselect-panel{
    top: 100%!important
}

.form-control-ng .ui-widget-header{
    margin-bottom: 0;
}

.form-control-ng .ui-multiselect-header .ui-multiselect-filter-container .fa{
    top: 0.50em;
}

.ui-multiselect-panel .ui-multiselect-items-wrapper{
    padding: 0.2em 0.2em;
}

.form-control-ng .ui-multiselect .ui-multiselect-label{
    height: 22px;
    padding: 3px 12px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0;
    width: 100%;
    float: left;
    border: 1px solid #d6d6d6;
}

.form-control-ng .ui-multiselect .ui-multiselect-trigger {
    border: 1px solid #d6d6d6;
    border-radius: 0;
    padding: 3px;
}

.form-control-ng .ui-multiselect .ui-multiselect-trigger .fa{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}




/* Drag & Drop Menu */

.drag-menu{
    vertical-align: top;
}

.drag-menu ul{
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 2px;
    margin: 0;
    min-width: 110px
}

.drag-menu li span{
    color: #333;
    font-weight: normal;
    font-size: 11px;
    display: block;
    padding: 3px 5px;
    border-bottom: solid 1px #d4d4d4;
    white-space: nowrap
}

.drag-menu li:last-child span{
    border-bottom: 0
}

.drag-menu li span:hover{
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; 
}

.drag-menu li span:active{
    cursor: url(https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur), all-scroll;
}


/* Fieldset */

.fieldset-box .subject-legend{
    margin: 0 15px;
    color: #123456;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 5px 0 5px;
    border: 0;
    width: auto;
}

fieldset.fieldset-box {
    border: solid 1px #DDD !important;
    padding: 0 0px 10px 0px;
}

/* Checkbox & Radio Buttons */

input[type="radio"], input[type="checkbox"]{
    margin: 0;
    min-height: 22px;
    display: inline-block;
    vertical-align: middle;
}

input[type=checkbox] ~ label, input[type=radio] ~ label {
    font-size: 11px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 22px;
}

.radioBtnContainer{
    margin: 0!important;
}


/* Box */

.box.box-solid > form > .box-header .btn:hover,
.box.box-solid > form > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}



/* GridView */
.ui-datatable{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.ui-datatable .ui-datatable-thead{
    background: linear-gradient(#E4E4E4, #f9fafa);
}

.ui-datatable .ui-datatable-thead>tr>th{
    font-size: 13px;
    font-weight: bold;
    padding: 10px 7px;
    color: #333;
    border: 1px solid #E0E0E0;
}

.ui-datatable .ui-datatable-data>tr>td{
    font-size: 14px;
    padding: 4px 7px;
    border: 1px dashed #E0E0E0;
}

.ui-datatable .ui-datatable-data>tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

.ui-datatable .ui-datatable-data>tr:hover {
    background-color: rgba(199, 199, 199, 0.43);
}

.ui-datatable .ui-datatable-data>tr>td:hover {
    background-color: rgba(199, 199, 199, 0.43)
}

.star-btn
{
    padding-bottom: 1px !important;
    padding-top: .25em !important;
    padding-left: 7px !important;
    padding-right: 6px !important;
    font-size: 12px !important;
    border-radius: 3px !important;
}

.card-body .form-group .buttons-group{
    padding: 10px 0px 0;
}

.wrapper-overlay {
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  .wrapper-overlay .master-component{
    flex: 1
  }

.prime-form-control .ui-dropdown{
    width: 100%!important;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }


.card{
    position: relative;
    background: #ffffff;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card-header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: #00527a;
    padding: 5px 8px;
    border-radius: 5px 5px 0 0;
    border-top: 2px solid #e7edc5;
    border-bottom: 1px solid #e4e4e4;
}

.card-title{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0 3px;
}

.card-tools{
    margin-left: auto
}

.card-body{
    padding: 2px 20px 2px 20px;
}

.card-footer{
    padding: 5px 10px 5px 10px;
}

.form-row .form-group{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.card-tools .buttons-group .ui-button{
    width: auto;
}

.card-tools .buttons-group > *:not(:first-child){
    margin-left: 5px !important;
}

.card-tools .buttons-group .ui-button .ui-button-text{
    padding: 1px;
}

.card .ui-button.ui-button-text-only .ui-button-text {
    padding: 3px 8px;
}

.card-footer .buttons-group{
    width: 100%;
    text-align: right;
}

.prime-form-control .ui-calendar{
  width: 100%
}

  .prime-form-control .ui-calendar .ui-button.ui-button-icon-only .ui-button-text {
    padding: 0.243em;
  }

.prime-form-control .ui-calendar .ui-inputtext {
  width: calc(100% - 2.357em)
}

.prime-form-control .ui-inputtext.ng-invalid,
.prime-form-control .ng-invalid .ui-dropdown,
.prime-form-control .ng-invalid .ui-multiselect{
    background: #FBE3E4
}

.prime-form-control .ui-inputtext.ng-valid,
.prime-form-control .ng-valid .ui-dropdown,
.prime-form-control .ng-valid .ui-multiselect{
    background: #fff
}

body .ui-inputtext:enabled:focus:not(.ui-state-error),
body .ui-dropdown:not(.ui-state-disabled).ui-state-focus,
.ui-multiselect.ui-multiselect-open, 
.ui-multiselect.ui-multiselect-open:hover{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}



/*Design Option 2*/
/*

.wrapper .card .card-header {
    border: 0!important;
    background: #dedede!important;
    color: #333!important;
}

.prime-form-control .ui-inputtext,
.prime-form-control .ui-multiselect,
.prime-form-control .ui-dropdown{
    border-color: rgba(0, 0, 0, 0.5)!important    
}



.card{
    box-shadow: 0 0 !important;
    border-radius: 5px
}

.card .card-header .card-tools .ui-button{
    background: transparent!important;
    border: 0!important
}



.card .card-body {
    border: solid 1px #8a8a8a;
    border-radius: 0px 0px 5px 5px;
}

.ui-datatable .ui-datatable-thead{
    background: linear-gradient(to bottom, #ffffff 0%, #e9e6ca 100%)!important;
}

.card .card-body .form-group .buttons-group {
    padding: 20px 0px 0!important;
}

.form-group .prime-form-control .ui-float-label > label {
    color: #333;
}
.card-body .form-group .ui-datatable,
.card-body .form-group .ngx-datatable.material{
    margin: -2px -10px -7px;
    box-shadow: 0 0;
    border-radius: 0px 0px 5px 5px;
}
    

.mat-drawer-content{
    background: #fff!important
}

.bootmarks{
    border-bottom: solid 1px #008fc7!important;
    border-radius: 0!important;
    box-shadow: 0 0!important
}

.ui-datatable .ui-datatable-data>tr>td{
    border: 1px solid #E0E0E0!important;
}

.ui-datatable .ui-paginator{
    padding: 0!important
}

.blue-theme .wrapper .card .card-header,
.card .card-header .card-tools .ui-button {
    color: #333;
}

.card .card-header .card-title{
    font-size: 15px!important
}

.prime-form-control .ui-float-label > label{
    font-size: 13px!important
}

.prime-form-control .ui-inputtext,
.prime-form-control .ui-multiselect .ui-multiselect-label{
    padding: .2em .8em .2em .8em!important;
}

.ui-datatable .ui-datatable-thead>tr>th{
    padding: 5px 7px;
}

body .ui-chkbox,
body .ui-chkbox .ui-chkbox-box{
    width: 18px;
    height: 18px;
}

.ngx-datatable.material .datatable-header .datatable-header-cell{
    padding: .4rem 1.2rem;
}

.blue-theme .wrapper .main-header {
    background: #89bbcf!important;
}

.blue-theme .wrapper .card .ui-state-active, 
.blue-theme .wrapper .card .ui-button {
    background-color: #89bbcf!important;
    border-color: #89bbcf!important;
    color: #423a3a;
}

.blue-theme .wrapper .card .ui-button:hover, 
.blue-theme .wrapper .card .ui-button:focus {
    border-color: #82c1da !important;
    background-color: #82c1da !important
}

.card .card-header .card-tools .ui-button,
.card .card-header .card-tools .ui-button:hover{
    background: transparent!important;
    border: 0!important
}

.blue-theme .mat-flat-button.mat-primary, .blue-theme .mat-raised-button.mat-primary, .blue-theme .mat-fab.mat-primary, .blue-theme .mat-mini-fab.mat-primary {
    background-color: #89bbcf!important;
    border-color: #89bbcf!important;
    color: #423a3a;
}*/

.prime-form-control .ui-contextmenu {
  top: 100% !important;
  left: 0 !important
}

.prime-form-control .ui-inputtext.label-edit {
  font-size: 13px;
  padding: .1em .8em;
  margin-bottom: 3px;
}

.ui-button.ui-button-text-empty {
  width: auto;
  padding: 3px 8px;
}

  .ui-button.ui-button-text-empty .ui-button-text.ui-clickable {
    display: none
  }
