 div.mxPopupMenu {
    position: absolute;
    padding: 3px;
}
 table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
}
 tr.mxPopupMenuItem {
    cursor: default;
}

body td.mxPopupMenuIcon {
    padding: 0px;
}
table.mxPopupMenu hr {
    border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
    font-size: 12px;
}

body .mxPopupMenu table tbody .mxPopupMenuItem td.mxPopupMenuItem {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

td .mxPopupMenuItem {
    font-size: 12px;
}