<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
      <directoryBrowse enabled="true" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>

  <connectionStrings>
    <add name="SharedComponents"
         connectionString="server=192.168.0.248;port=3306;user=root;password=root;database=ins_cloud" />
  </connectionStrings>
</configuration>