<div class="content">
  <div class="element">
    <div class="vertical-align">
      <img src="../../../assets/images/payment/paypal.png" alt="PayPal" />
      <button class="float-right btn button" type="button" (click)="setUp('paypal')">Set Up Now</button>
    </div>
  </div>
  <div class="element">
    <div class="vertical-align">
      <img src="../../../assets/images/payment/Mastercard.png" alt="Master Card" />
      <button class="float-right btn button" type="button" (click)="setUp('Mastercard')">Set Up Now</button>
    </div>
  </div>
  <div class="element">
    <div class="vertical-align">
      <img src="../../../assets/images/payment/visa.png" alt="Visa" />
      <button class="float-right btn button" type="button" (click)="setUp('visa')">Set Up Now</button>
    </div>
  </div>
</div>
