<div class="container">
  <h2>Employee Info</h2>
    <div class="form-group">
      <label for="FnameLbl">First Name:</label>
      <label class="form-control" name="FirstName">{{empService.selectedEmployee.FirstName}}</label>
    </div>
    <div class="form-group">
      <label for="LnameLbl">Last Name:</label>
      <label class="form-control" name="LastName">{{empService.selectedEmployee.LastName}}</label>
    </div>
    <div class="form-group">
      <label for="EmpCodeLbl">Employee Code:</label>
      <label class="form-control" name="EmployeeCode">{{empService.selectedEmployee.EmpCode}}</label>
    </div>
    <div class="form-group">
      <label for="PositionLbl">Position:
   </label>
      <label class="form-control" name="Position">{{empService.selectedEmployee.Position}}</label>
    </div>
    <div class="form-group">
      <label for="OfficeLbl">Office:</label>
      <label class="form-control" name="Office">{{empService.selectedEmployee.Office}}</label>
    </div>

    
</div>
