<table border="0" width="100%" height="100%">
  <tr>
    <td id="toolbar" valign="top" colspan="2" style="height:10px;">
      <!-- Toolbar Here -->
    </td>
  </tr>
  <tr>
    <td id="sidebar" style="width:10px;" valign="top">
      <!-- Sidebar Here -->
    </td>
    <td style="border-width:1px;border-style:solid;border-color:black;width:100%;">
      <div id="graph" style="width:100%;height:100%;cursor:default;overflow:hidden;">
        <!-- Graph Here -->
      </div>
    </td>
  </tr>
</table>