body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: arial;
}

th {
    text-align: center;
}

.layout-boxed {
    background-color: #e8e8e8;
    background-image: none;
}

.content-header > h1 {
    font-size: 16px;
    font-weight: bold;
    background: url(../images/line.png) repeat-x center 8px;
}

    .content-header > h1 > span {
        background: #fff;
        display: inline-block
    }

        .content-header > h1 > span:last-child {
            padding-right: 10px;
        }

    .content-header > h1 > i {
        background: #fff;
        padding: 0 6px 0 6px;
    }

.content-header ol.breadcrumb {
    position: static;
    top: auto;
    right: auto;
    margin-top: -16px;
    background: #fff;
    padding: 0;
    padding-left: 10px;
}

.content-header > .breadcrumb > li > a:hover{
    color: #F7AF3E
}

.content-header {
    padding: 10px 10px 5px 10px;
}

.box.box-solid.box-blue {
    border: solid #0082b9;
    border-width: 0 2px 2px 2px;
    border-radius: 0;
}

section.content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title, .modal .modal-header h4 {
    font-size: 13px;
    font-weight: bold;
}

.box-header, .modal .modal-header {
    color: #fff;
    padding: 3px 0 5px 10px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a5df+0,0077ad+100 */
    background: #00a5df; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTVkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDc3YWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #00a5df 0%, #0077ad 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a5df), color-stop(100%,#0077ad)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00a5df 0%,#0077ad 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00a5df 0%,#0077ad 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00a5df 0%,#0077ad 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00a5df 0%,#0077ad 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5df', endColorstr='#0077ad',GradientType=0 ); /* IE6-8 */
    border-bottom: 0;
}

    .modal .modal-header .close {
        margin: -2px 7px -1px 0;
    }

.modal .modal-header {
    padding: 5px 0 5px 10px;
}

.main-header .logo {
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-family: arial;
}

    .main-header .logo .logo-lg img {
        position: relative;
        margin: -4px 12px 0 -7px;
    }

.control-sidebar {
    padding-top: 40px;
}

.main-header .logo .logo-mini img {
    margin: -3px 0 0 8px;
}

.main-header .navbar {
    min-height: 40px;
}

.main-header .sidebar-toggle {
    padding: 10px 15px;
}

.control-sidebar .nav > li > a {
    padding: 5px 15px;
}

.content-wrapper {
    background-color: #fff;
}

.main-footer {
    background: #f8f8f8;
    padding: 10px 15px;
    border-top: 1px solid #ececec;
    font-size: 11px;
}

    .main-footer a {
        color: #03A9F4;
    }

        .main-footer a:hover {
            color: #f39c12;
        }

    .main-footer .pull-right {
        margin-top: -8px;
    }

.main-header .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

label.control-label, span.control-label {
    background: #f2f2f2;
    padding: 4px 6px 3px 6px;
    color: #404041;
    font-weight: normal;
    font-size: 11px;
    margin-bottom: 0px;
}

.input-group li {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

.form-row .form-group {
    padding-left: 2px;
    padding-right: 2px;
}

.language-menu a.dropdown-toggle i {
    font-size: 16px;
}

.dropdown.language-menu {
    position: relative !important;
}

    .dropdown.language-menu ul {
        padding: 0;
        border-radius: 0;
    }

        .dropdown.language-menu ul li a {
            background-color: transparent !important;
            color: #777 !important;
            padding: 7px 20px !important;
        }


        .dropdown.language-menu ul li.active a {
            background-color: #337ab7 !important;
            color: #fff !important;
            opacity: 1 !important;
        }

        .dropdown.language-menu ul li a:hover {
            opacity: .6;
        }

.box-blue .box-body {
    padding: 4px 17px 2px 17px;
}

.form-row .form-group > .input-group {
    padding-left: 1px;
}

select.form-control {
    padding: 0 0 0 0;
}

.form-control, .form-control.select2 {
    height: 22px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 11px;
}

.form-row .form-group .input-group .input-group-btn .btn {
    padding: 1px 6px;
    font-size: 13px;
    
}

.form-row .form-group .input-group .input-group-btn a.btn {
    font-size: 12px;
}


.box-blue .box-header .btn-box-tool {
    color: #fff;
    padding: 6px 5px 5px 5px;
}

    .box-blue .box-header .btn-box-tool .fa, .box-blue .box-header .fa.btn-box-tool {
        font-size: 14px;
    }

.box-blue .box-header > .box-tools {
    top: 0px;
}

.form-group {
    margin-bottom: 2px;
}

    .form-group ol, .form-group ul {
        margin-bottom: 0;
    }

.box-blue .select2-container .select2-selection--single {
    height: 22px;
}

.box-blue .select2-container--default .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0px;
}

.box-blue .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    padding: 0px;
    font-size: 11px;
}

    .box-blue .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 24px;
    }

.box-blue .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 4px;
    padding-top: 2px;
}

.select2-container--open .select2-search--dropdown .select2-search__field {
    padding: 0 4px 0 4px;
    font-size: 12px;
    background: #FFFDE7;
}

.select2-container--open .select2-results__option {
    padding: 2px 6px 2px 6px;
    font-size: 11px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #03A9F4;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #c6edff;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 22px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #3c8dbc 1px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0;
}

.select2-container .select2-selection--multiple {
    min-height: 22px;
}

.select2-container .select2-search--inline .select2-search__field {
    padding-top: 4px;
    margin-top: 0;
    padding-bottom: 1px;
    padding-left: 3px;
}

select ~ .select2, .select2-search__field {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 2px 0;
    font-size: 11px;
    display: block;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 0 6px 0px 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.box-blue .form-control[readonly] {
    background-color: #fffde8;
}

.box-blue .form-control[required] {
    background-color: #FBE3E4;
}

.box-blue .has-error .form-control, .box-blue .has-error .form-control:focus {
    border-color: #d4403d !important;
    -webkit-box-shadow: inset 0 0px 4px rgba(193, 26, 23, 0.48);
    box-shadow: inset 0 0px 4px rgba(193, 26, 23, 0.48);
}

.box-blue .input-group-addon {
    padding: 0px 5px;
    color: #999;
}

.box-blue .bootstrap-timepicker-widget table td a {
    padding: 0px 4px;
}

.box-blue .bootstrap-timepicker .dropdown-menu {
    min-width: inherit;
}

.box-footer, .modal .modal-footer {
    border-top: 1px solid #e8e8e8 !important;
    background: #fbfbfb;
    padding: 4px;
}

.modal-footer .btn + .btn {
    margin-left: 4px;
}

.box-blue .btn-primary {
    background-color: #0077AD;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 11px;
}

.box-blue {
    margin-bottom: 10px;
}

.icheckbox_minimal-blue, .iradio_minimal-blue {
    margin: 0px 0 0 0;
    background-color: #fff;
}

input.check-node {
    margin-top: 0;
}

textarea.form-control {
    padding: 2px 4px 3px 4px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background: #009cd5;
    border: solid 1px #0087be;
}
/* Tables */
.box-blue .dataTables_wrapper {
    /* margin-left: 0; */
    /* margin-right: 0; */
    /* padding: 0 10px 0 0; */
    /* border: 1px solid #E0E0E0; */
}

    .box-blue .dataTables_wrapper.div-grid {
        margin-left: -13px;
        margin-right: -23px;
    }

        .box-blue .dataTables_wrapper.div-grid .dataTables_wrapper {
            margin-left: 0;
            margin-right: 0;
        }

.box-blue .table {
    margin-bottom: 10px;
}

    .box-blue .table:last-child {
        margin-bottom: 0;
    }

.table-responsive .table thead tr, .table-responsive .box-blue .table th, .table thead tr {
    background: #ffffff; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU2Y2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e9e6ca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9e6ca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9e6ca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e9e6ca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e9e6ca 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e9e6ca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e6ca',GradientType=0 ); /* IE6-8 */
    font-size: 12px;
    padding: 2px 4px;
    text-align: center;
    white-space: nowrap;
}

.box-blue .table-bordered {
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
}

    .box-blue .table-bordered > thead > tr > th, .box-blue .table-bordered > tbody > tr > th, .box-blue .table-bordered > tfoot > tr > th, .box-blue .table-bordered > thead > tr > td, .box-blue .table-bordered > tbody > tr > td, .box-blue .table-bordered > tfoot > tr > td {
        border: 1px solid #E0E0E0;
    }

.box-blue .table > tbody > tr > td, .box-blue .table > tbody > tr > th, .box-blue .table > tfoot > tr > td, .box-blue .table > tfoot > tr > th, .box-blue .table > thead > tr > td, .box-blue .table > thead > tr > th {
    padding: 0px 4px;
    font-size: 11px;
    line-height: 23px;
}

.box-blue .table > tfoot > tr > td{
    line-height: normal;
}

.box-blue tfoot {
    background: #efecd7;
    font-size: 11px;
}

input.txt.page-num-text {
    padding: 0 0 0 0;
    width: 40px;
    text-align: center;
    height: 18px;
    font-size: 11px;
}

.box-blue tfoot .btn {
    font-size: 11px;
    padding: 0 6px 0 6px;
    vertical-align: baseline
}

.box-blue .ActionBar {
    padding: 2px 0;
}

.box-blue .ActionBar select {
    font-family: Arial;
    height: 18px;
}

.box-blue tfoot .records-number {
    font-size: 12px;
    float: left;
    padding: 2px 0;
    display: block;
    margin-right: 15px;
    line-height: 18px
}

.div-grid {
    overflow: auto;
}

table label.i-checks.i-checks-sm {
    padding: 0 0 0 0;
    display: inline;
}

.dataTables_wrapper table tbody tr {
    background-color: #f9f9f9 !important;
}

.dataTables_wrapper table > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}


table.dataTable tbody > tr:hover, table.dataTable tbody > tr > :hover, .box-blue .table tbody > tr > :hover, .box-blue .table tbody > tr:hover {
    background-color: rgba(225, 245, 254, 0.43) !important;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected, .box-blue .table tbody > tr.selected, .box-blue .table tbody > tr > .selected {
    background-color: rgba(179, 229, 252, 0.5) !important;
}
/* dataTable */
.datatable-footer {
    background: #efecd7;
    font-family: arial;
    font-size: 11px;
    overflow: hidden;
}

    .datatable-footer div.dataTables_info {
        clear: none !important;
        padding: 5px 0 0 1px;
    }

.dataTables_wrapper .datatable-footer .dataTables_paginate .paginate_button {
    background-color: #0077AD;
    font-size: 11px;
    font-family: arial;
    width: auto !important;
    color: #fff !important;
    height: auto;
    line-height: 11px;
    font-weight: normal;
    border-radius: 3px !Important;
    padding: 1px 7px 3px 7px !important;
}

.datatable-footer label {
    margin-bottom: 0;
}

.datatable-footer {
    padding-right: 5px;
    padding-left: 5px;
}

    .datatable-footer .dataTables_paginate.paging_input span {
        float: left;
        line-height: 18px;
    }

    .datatable-footer .dataTables_paginate.paging_input button span {
        line-height: normal;
    }

.dataTables_wrapper .datatable-footer .dataTables_paginate .go.paginate_button {
    margin-right: 15px;
    padding: 3px 7px 2px 7px !important;
}

.datatable-footer .btn-group.btn-group-xs {
    margin-right: 15px;
}

.box-body > .dataTables_wrapper {
    margin-left: -13px;
    margin-right: -13px;
}

    .box-body > .dataTables_wrapper .row, .box-body > .dataTables_wrapper .col-sm-12 {
        margin-left: 0;
        margin-right: 0;
    }

    .box-body > .dataTables_wrapper .row, .box-body > .dataTables_wrapper .col-sm-12 {
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

.box-blue tfoot .text-left {
    padding-left: 0;
}

.box-blue tfoot .text-right {
    padding-right: 0;
}

.datatable-header {
    display: inline-block;
    position: absolute;
    margin-top: -17px;
    right: 30px;
    background: red;
}

.box-body > .dataTables_wrapper .datatable-scroll {
    overflow: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #009cd5 !important;
    border: solid 1px #0087be !important;
}

.dataTables_wrapper table {
    width: auto;
    max-width: none;
    min-width: 100%;
}

/* // Tables */

/* Tabs */
.nav-tabs-custom.tab-blue {
    margin-bottom: 10px;
}

    .nav-tabs-custom.tab-blue > .nav.nav-tabs > li {
        background-color: #005b88;
        border-top: 3px solid #22a7f0;
        border-radius: 4px 4px 0 0;
        font-size: 12px;
        margin-right: 2px;
        margin-bottom: -2px;
        margin-left: 0;
    }

        .nav-tabs-custom.tab-blue > .nav.nav-tabs > li.pull-right {
            margin-right: 0;
            margin-left: 2px;
        }

        .nav-tabs-custom.tab-blue > .nav.nav-tabs > li:hover {
            border-top-color: #f39c12;
        }

        .nav-tabs-custom.tab-blue > .nav.nav-tabs > li a {
            color: #fff;
        }

        .nav-tabs-custom.tab-blue > .nav.nav-tabs > li.active {
            border-top-color: #f39c12;
        }

            .nav-tabs-custom.tab-blue > .nav.nav-tabs > li.active a {
                color: #444;
                border-left-color: #0082b9;
                border-right-color: #0082b9;
            }

        .nav-tabs-custom.tab-blue > .nav.nav-tabs > li .dropdown-menu a {
            color: #444;
        }

    .nav-tabs-custom.tab-blue .nav.nav > li > a {
        padding: 1px 15px;
        font-size: 11px;
        border-width: 0 2px;
    }

    .nav-tabs-custom.tab-blue > .nav.nav-tabs {
        border-bottom-color: #0082b9;
        border-bottom-width: 2px;
    }

.tab-blue .tab-content {
    border: solid #0082b9;
    border-width: 0 2px 2px 2px;
}

.nav-tabs-custom.tab-blue .dropdown-menu > li > a:hover {
    background-color: rgb(179, 232, 255);
}

.tab-blue.box-blue .tab-content {
    padding: 4px 18px 2px 18px;
}

    .tab-blue.box-blue .tab-content p {
        margin: 3px -10px 3px -10px;
    }

.btn-block span {
    width: 80px;
    display: inline-block;
}

.btn-addAll:after {
    content: "\f054\f054";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font-size: 11px;
    position: absolute;
    margin: 3px 0 0 18px;
}

.btn-add:after {
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font-size: 11px;
    position: absolute;
    margin: 3px 0 0 25px;
}

.btn-removeAll:before {
    content: "\f053\f053";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font-size: 11px;
    position: absolute;
    margin: 3px 0 0 -25px;
}

.btn-remove:before {
    content: "\f053";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font-size: 11px;
    position: absolute;
    margin: 3px 0 0 -25px;
}
/* //Tabs */
.box-footer .btn {
    margin-left: 0;
    margin-right: 4px;
}

    .box-footer .btn.pull-right {
        margin-left: 4px;
        margin-right: 0;
    }

.sidebar-menu li.menu-main > a {
    padding: 12px 5px 10px 15px;
}

.skin-blue .sidebar-menu li.menu-main > a > span, .skin-blue .sidebar-menu li.menu-main > a > span {
    font-size: 13px;
}

.sidebar-menu .treeview-menu > li > a {
    font-size: 12px;
}

.datepicker {
    border-radius: 0 0 0 0;
}

@media (max-width: 768px) {
    .control-sidebar {
        padding-top: 80px;
    }

    .main-header .logo .logo-lg {
        text-align: center;
    }

    .content-header > .breadcrumb {
        display: none;
    }

    .content-header > .breadcrumb.breadcrumb-nav{
        display: block;
        float: right;
    }

    .box-body > .dataTables_wrapper .table-responsive {
        margin-bottom: 2px;
        padding-left: 0;
    }

    .box-blue .table-bordered {
        border: none;
    }

    .box-body > .dataTables_wrapper .row {
        margin-left: 15px;
        margin-right: 15px;
    }

    .box-body > .dataTables_wrapper .col-sm-12 {
        padding-right: 0;
    }

    .dropdown.language-menu ul {
        left: auto !important;
        right: 0 !important;
    }
}

@media (min-width: 768px) {

    .col-md-12 > label.control-label.col-sm-2.col-xs-12 {
        width: 41.6555%;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover > .treeview-menu {
        top: 42px;
    }

    .col-md-12 > ul.input-group.col-sm-10.col-xs-12 {
        width: 58.3445%;
    }

    .content-header > .breadcrumb {
        float: right;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    .col-md-12.col-lg-6 > ul.input-group.col-sm-10.col-xs-12 {
        width: 86.2% !Important;
    }

    .col-md-12.col-lg-6 > label.control-label.col-sm-2.col-xs-12, .col-md-12.col-lg-6 > span.control-label.col-sm-2.col-xs-12 {
        width: 13.8% !Important;
    }

    .col-md-12.col-lg-12 > ul.input-group.col-sm-10.col-xs-12 {
        width: 86.2% !Important;
    }

    .col-md-12.col-lg-12 > label.control-label.col-sm-2.col-xs-12, .col-md-12.col-lg-12 > span.control-label.col-sm-2.col-xs-12 {
        width: 13.8% !Important;
    }
}

@media (min-width: 992px) {
    .bs-example-modal-lg .modal-lg {
        width: 90%;
    }

    .col-md-12 > label.control-label.col-sm-2.col-xs-12, .col-md-12 > span.control-label.col-sm-2.col-xs-12 {
        width: 13.855555%;
    }

    .col-md-12.col-lg-6 > label.control-label.col-sm-2.col-xs-12, .col-md-12.col-lg-6 > span.control-label.col-sm-2.col-xs-12 {
        width: 20.7555%;
    }

    .col-md-12.col-lg-12 > label.control-label.col-sm-2.col-xs-12, .col-md-12.col-lg-12 > span.control-label.col-sm-2.col-xs-12 {
        width: 10.4%;
    }

    .col-md-12 > ul.input-group.col-sm-10.col-xs-12 {
        width: 86.144445%;
    }

    .col-md-12.col-lg-6 > ul.input-group.col-sm-10.col-xs-12 {
        width: 79.2446%;
    }

    .col-md-12.col-lg-12 > ul.input-group.col-sm-10.col-xs-12 {
        width: 89.6%;
    }

    .col-md-8 .col-sm-2 {
        width: 20.777%;
    }

    .col-md-8 .col-sm-10 {
        width: 79.223%;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .col-md-8 .col-sm-2 {
        width: 41.66666667%;
    }

    .col-md-8 .col-sm-10 {
        width: 58.33333333%;
    }
}

@media (max-width: 480px) {
    .nav > li > a {
        padding: 10px 12px;
    }
}



/*Scroll*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    width: 8px\9;
}

::-webkit-scrollbar-track {
    background: #e1ecf1;
}

::-webkit-scrollbar-thumb {
    background: #0082B9;
}

body {
    scrollbar-3dlight-color: #fff;
    scrollbar-arrow-color: #0082B9;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-face-color: #0082B9;
    scrollbar-highlight-color: #0082B9;
    scrollbar-shadow-color: #ffffff;
    scrollbar-track-color: #e1ecf1;
    -ms-overflow-style: scrollbar;
}


/* Spinner (Loader) */
.spinner {
    width: 60px;
    height: 60px;
    position: relative !important;
    margin: 100px auto;
    top: 100px !important;
}

    .spinner span {
        color: #fff;
    }

    .spinner > div {
        background-color: #ff9900;
        height: 150%;
        width: 8px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -.9s;
        animation-delay: -.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -.8s;
        animation-delay: -.8s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%,100%,40% {
        -webkit-transform: scaleY(.4);
    }

    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes sk-stretchdelay {
    0%,100%,40% {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4);
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

.loading-progress {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: .8;
    top: 1px;
    left: 0 !important;
    background-color: #666 !important;
    font-family: Arial;
}

/* multiselect-native-select */
.multiselect-native-select .btn-group {
    display: grid;
}

.multiselect-native-select button.multiselect.dropdown-toggle.btn.btn-default {
    width: 100%;
    text-align: left;
    font-size: 11px;
    font-family: arial;
    border-radius: 0 0 0 0;
    background: #fff;
    box-shadow: none;
    border-color: #d2d6de;
    height: 22px;
    padding: 0px 10px 0 5px;
}

.multiselect-native-select b.caret {
    float: right;
    margin: 6px 0 0 0;
}

.multiselect-native-select ul.multiselect-container.dropdown-menu {
    width: 100%;
    border-radius: 0 0 0 0;
    border-color: #aaaaaa;
    border-top: none;
}

    .multiselect-native-select ul.multiselect-container.dropdown-menu li {
    }

.multiselect-native-select .dropdown-menu > .active > a, .multiselect-native-select .dropdown-menu > .active > a:focus, .multiselect-native-select .dropdown-menu > .active > a:hover {
    background-color: #03a9f4;
}

.multiselect-native-select li label {
    padding-left: 30px !important;
    padding-right: 10px !important;
    font-size: 11px;
}

.multiselect-native-select input[type="checkbox"] {
    margin: 0 0 0 -20px;
}
/* // multiselect-native-select */

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 100;
}



/* // Invoice*/

.no-print {
    padding-left: 0;
    margin-left: 0;
}

.invoice {
    margin-left: 0;
}

    .invoice th {
        text-align: left;
    }

/* // Error Pages*/

.error-page .form-control {
    height: 34px;
}


/* //Print */
.print-logo {
    font-size: 35px !important;
    color: #00a7e1 !important;
    font-family: arial !important;
    font-weight: bold !important;
}

    .print-logo sup {
        font-size: 60% !important;
    }

    .print-logo b {
        color: #faa74a !important;
    }

    .print-logo small {
        font-size: 50% !important;
        color: #666 !important;
        font-weight: normal !important;
        margin-top: 25px;
    }

/* //Top Nav Layout */

@media (max-width: 767px) {
    .layout-top-nav .main-header .logo {
        float: left;
        width: auto;
    }

    .layout-top-nav .navbar-toggle {
        padding: 10px 15px;
    }
}


/* // UI Elements */

/* //Color Palette */

.color-palette {
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.color-palette-set {
    margin-bottom: 15px;
}

.color-palette span {
    display: none;
    font-size: 12px;
}

.color-palette:hover span {
    display: block;
}

.color-palette-box h4 {
    position: absolute;
    top: 100%;
    left: 25px;
    margin-top: -40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    display: block;
    z-index: 7;
}


/* //Icons*/

.bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}

    .bs-glyphicons li {
        float: left;
        width: 25%;
        height: 115px;
        padding: 10px;
        margin: 0 -1px -1px 0;
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
        border: 1px solid #ddd;
    }

    .bs-glyphicons .glyphicon {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .bs-glyphicons .glyphicon-class {
        display: block;
        text-align: center;
        word-wrap: break-word; /* Help out IE10+ with class names */
    }

    .bs-glyphicons li:hover {
        background-color: rgba(86, 61, 124, .1);
    }

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 12.5%;
    }
}

@media (max-width:480px) {
    .bs-glyphicons li {
        width: 33.3%;
    }
}


/* //Modals*/

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}




/* //Default Fields*/

.default-fields .input-group.input-group-sm .form-control {
    height: 30px;
}

.default-fields .input-group .form-control {
    height: 34px;
}

.default-fields .input-group.input-group-lg .form-control {
    height: 46px;
}


/* //Default Labels*/

.default-labels .form-horizontal .control-labels {
    text-align: unset;
}


/* //Default selector*/

.default-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}

.default-select .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
}

/* //Bootstrap Data Grid*/

@media(min-width:991px) {

    .box-body.data-grid {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


/* //Bootstrap Data Grid Multi*/

.col-move legend {
    font-size: 15px;
    margin-bottom: 5px;
}

/* //Bootstrap Data Grid Btn*/


@media(max-width:991px) {
    .data-grid-btn {
        text-align: center;
    }

        .data-grid-btn .btn {
            margin: 3px 1px;
            display: inline-block;
            width: 150px !important;
            padding: 5px 5px;
        }

        .data-grid-btn .btn-add:after, .data-grid-btn .btn-addAll:after {
            transform: rotate(90deg);
        }

        .data-grid-btn .btn-remove:before, .data-grid-btn .btn-removeAll:before {
            transform: rotate(90deg);
        }
}

/* New Boxes ( Dashboard )  */

.ibox {
    background-image: linear-gradient(#f1f1f1 , #ffffff);
    clear: both;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #e7eaec;
    color: #676a6c;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
    font-weight: 600
}

.ibox-content {
  clear: both;
}

.ibox-content {
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e4e4e4;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
    margin-top: 5px;
}

.stat-percent {
    float: right;
}


/* ToolTip */

.tooltip {
    min-width: 300px;
}

.tooltip-inner {
    min-width: 300px;
    max-width: 290px;
    padding: 8px 10px;
}

.copyright-img {
    cursor: pointer;
}


/* Multi Datatables */

@media(max-width: 767px) {
    .dataTables_wrapper .col-sm-12 {
        padding: 0;
    }
}


/* Vertical Align */
@media(min-width: 991px) {
    .flex-middle {
        display: flex;
        align-items: center;
    }

    .flex-top {
        align-self: flex-start;
    }
}



/************** Mega Menu *******************/

.navbar .navbar-header {
    float: left;
}

.navbar .navbar-breadcrumb {
    margin-left: 10px;
    margin-bottom: 0;
    background-color: transparent;
    padding: 0px;
    float: left;
}

    .navbar .navbar-breadcrumb > li {
        font-size: 1.5em;
    }

        .navbar .navbar-breadcrumb > li > a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            color: #fff;
        }

    .navbar .navbar-breadcrumb li a:hover span, .navbar .navbar-breadcrumb li.open a span {
        color: #BFE3F1;
    }

    .navbar .navbar-breadcrumb .fa.fa-angle-down {
        padding: 0 5px;
        color: #BFE3F1;
        font-weight: bold;
    }

.mega-dropdown-menu {
    left: 5px;
    margin: 0;
    background-color: #FFFFDE;
    border-radius: 4px;
    background-clip: padding-box;
    z-index: 1000;
    display: block;
    border: 0;
    padding: 0;
    min-width: auto;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease-out .5s;
    -moz-transition: opacity ease-out 0.5s;
    -webkit-transition: opacity ease-out 0.5s;
}

    .mega-dropdown-menu:before {
        content: "";
        border-bottom: 15px solid #fff;
        border-right: 17px solid transparent;
        border-left: 17px solid transparent;
        position: absolute;
        top: -15px;
        left: 36px;
        z-index: 10;
    }

    .mega-dropdown-menu:after {
        content: "";
        border-bottom: 17px solid #ccc;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
        position: absolute;
        top: -17px;
        left: 34px;
        z-index: 8;
    }

    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }

    .mega-dropdown-menu.row > li {
        float: left;
        line-height: 26px;
        padding: 0 15px 0 10px;
        height: 100%;
        min-width: 180px;
    }

.skin-blue.sidebar-mini:not(.sidebar-collapse) .open > .mega-dropdown-menu {
    width: 250px;
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px !important;
}

.mega-dropdown-menu .dropdown-header {
    background: none !important;
    color: #F0AD4E !important;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu > li > ul > li.dropdown-header {
    background: none;
    padding-left: 10px;
}

.mega-dropdown-menu > li > ul > li:hover a, .mega-dropdown-menu > li > ul > li.active a {
    background: #EAEAC2 !important;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu li ul li a {
    line-height: 25px !important;
    display: block;
    color: #353d47 !important;
    padding-left: 10px;
    padding-right: 10px;
}


.open > .mega-dropdown-menu {
    margin-top: 6px !important;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 20px 0px !important;
    min-width: 200px;
    width: 1020px;
    height: auto;
    overflow: initial;
    visibility: visible;
    opacity: 1;
}




@media(max-width: 1100px) {
    .open > .mega-dropdown-menu {
        width: 250px;
        max-height: 380px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px !important;
    }

    .mega-dropdown-menu.row > li {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media(max-width: 767px) {
    .open > .mega-dropdown-menu {
        margin-top: 0 !important;
        border: 0;
    }

    .mega-dropdown-menu {
        left: 0;
    }
}

/************** Mega Menu *******************/

/************** Top NavBar *******************/
@media (max-width: 767px) {
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        right: auto;
        left: 0;
    }

    .navbar-custom-menu > .navbar-nav > li, .navbar-custom-menu > .navbar-nav > li.language-menu {
        position: relative;
    }

    .navbar-custom-menu > .navbar-nav > li.user-menu .fa{
        display: inline-block !important;
        margin: 0 !important;
    }

    .dropdown.language-menu ul {
        left: 0 !important;
        right: auto !important;
    }
}

@media (max-width: 480px) {
    .navbar-custom-menu > .navbar-nav > li {
        position: static;
    }

        .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
            right: 0;
            left: 0;
            margin: auto;
            width: 75% !important;
        }
}
/************** Top NavBar *******************/

/************** Right Toggle Menu *******************/

.navbar .navbar-right-expand-toggle {
    color: #fff;
    height: 40px !important;
    line-height: 20px !important;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    position: absolute;
    right: 0;
    opacity: 0.75;
    outline: 0;
}

    .navbar .navbar-right-expand-toggle i {
        transition: all ease .3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
    }



@media(max-width: 767px) {
    .navbar .navbar-right-expand-toggle:focus > i, .navbar .navbar-right-expand-toggle:hover > i {
        text-shadow: 0 0 2px;
    }

    .main-header .navbar-custom-menu {
        position: absolute;
        width: 100%;
        background: #008fc7;
        right: -100%;
        opacity: 0;
        -moz-transition: opacity 0.5s ease-out;
        -webkit-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out;
    }

        .main-header .navbar-custom-menu.expanded {
            right: 0;
            opacity: 1;
        }

    .navbar-custom-menu > .navbar-nav {
        float: left;
    }
}


/************** Right Toggle Menu *******************/


/************** BreadCrumb Icons *******************/


.content-header > .breadcrumb-nav > li {
    margin-left: 10px;
}

    .content-header > .breadcrumb-nav > li + li:before {
        content: none;
    }

    .content-header > .breadcrumb-nav > li .fa {
        font-size: 15px;
        margin: 0 !important;
    }

        .content-header > .breadcrumb-nav > li > a:hover, .content-header > .breadcrumb-nav > li > .help-menu > button:hover {
            color: #444;
            opacity: 0.7
        }

    .content-header > .breadcrumb-nav > li .nav-title {
        margin-left: 5px;
    }





/************** BreadCrumb Icons *******************/

/************** Help Menu *******************/

.help-menu button {
    background: transparent !important;
    box-shadow: 0 0 !important;
    border: 0 !important;
    outline: 0 !important;
    padding: 0;
}

.help-menu .dropdown-menu {
    right: 0;
    left: auto;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0 2px;
    min-width: 120px;
}

    .help-menu .dropdown-menu a {
        border-bottom: solid 1px #ddd;
        padding: 6px 10px;
    }

    .help-menu .dropdown-menu li:last-child a {
        border-bottom: 0;
    }

.content-header > .breadcrumb-nav > li div.help-menu span.nav-title {
    margin: 0;
}

/************** Help Menu *******************/



/************** Dropdown Main Logo *******************/

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
}


.main-logo {
    width: 200px;
    margin: auto;
}

/************** Dropdown Main Logo *******************/





/* Left Menu Colors */

.skin-blue .sidebar-menu li.menu-main.active > a, .skin-blue .sidebar-menu li.menu-main:hover > a {
    text-shadow: 1px 1px 10px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:nth-child(6n + 1).active > a > i, .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover:nth-child(6n + 1) > a > i {
    color: #E36E2C;
}

.skin-blue .sidebar-menu li.menu-main:nth-child(6n + 1).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 1).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 1):hover > a {
    border-left-color: #E36E2C;
}

.sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:nth-child(6n + 2).active > a > i, .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover:nth-child(6n + 2) > a > i {
    color: #00A7E1;
}

.skin-blue .sidebar-menu li.menu-main:nth-child(6n + 2).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 2).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 2):hover > a {
    border-left-color: #00A7E1;
}


.sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:nth-child(6n + 3).active > a > i, .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover:nth-child(6n + 3) > a > i {
    color: #F7AF3E;
}

.skin-blue .sidebar-menu li.menu-main:nth-child(6n + 3).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 3).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 3):hover > a {
    border-left-color: #F7AF3E;
}

.sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:nth-child(6n + 4).active > a > i, .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover:nth-child(6n + 4) > a > i {
    color: #5BBC89;
}

.skin-blue .sidebar-menu li.menu-main:nth-child(6n + 4).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 4).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 4):hover > a {
    border-left-color: #5BBC89;
}

.sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:nth-child(6n + 5).active > a > i, .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover:nth-child(6n + 5) > a > i {
    color: #2297B7;
}

.skin-blue .sidebar-menu li.menu-main:nth-child(6n + 5).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 5).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 5):hover > a {
    border-left-color: #2297B7;
}

.sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:nth-child(6n + 6).active > a > i, .sidebar-mini.sidebar-collapse .sidebar-menu li.menu-main:hover:nth-child(6n + 6) > a > i {
    color: #F59B5C;
}

.skin-blue .sidebar-menu li.menu-main:nth-child(6n + 6).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 6).active > a, .skin-blue .sidebar-menu li.menu-main:hover:nth-child(6n + 6):hover > a {
    border-left-color: #F59B5C;
}

.skin-blue .sidebar-menu li.menu-main.important-icon.active > a, .skin-blue .sidebar-menu li.menu-main.important-icon:hover > a {
    border-left-color: #dd4b39 !important;
}

.skin-blue .sidebar-menu li.menu-main.warning-icon.active > a, .skin-blue .sidebar-menu li.menu-main.warning-icon:hover > a {
    border-left-color: #f39c12 !important;
}

.skin-blue .sidebar-menu li.menu-main.info-icon.active > a, .skin-blue .sidebar-menu li.menu-main.info-icon:hover > a {
    border-left-color: #00c0ef !important;
}






