@import 'node_modules/@theme/styles/themes';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.675rem 4rem 0.5rem 1.25rem;
    @include nb-rtl(padding-right, 1.25rem);
    @include nb-rtl(padding-left, 4rem);
  }

  .header {
    font-size: 2rem;
  }

  .dropdown {
    min-width: 120px;
  }

  .dropdown-item {
    font-size: 1.50rem;
  }

  .btn-success {
    background-color: #2196f3;
    border-color: #4cae4c;
  }
}
