@import 'node_modules/@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    position: relative;
  }

  .fa-arrow-right {
    position: absolute;
    top: 0;
    right: 0;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0);
    padding: 1.5rem;
    cursor: pointer;
    color: gray;
  }


  /deep/ .flipped {
    .back-container {
      .fa-arrow-right {
        transform: scaleX(-1);
      }
    }

    .front-container {
      .fa-arrow-right {
        display: none;
      }
    }
  }

  shc-earning-back-side, shc-earning-front-side {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  /deep/ nb-card-header {
    display: flex;
    justify-content: space-between;
    @include nb-rtl(flex-direction, row-reverse);
    padding-left: 1rem;
  }

  .fa-arrow-right::before {
    color: black;
    font-weight: bold;
  }

  /deep/ nb-card-body {
    overflow: hidden;
    display: flex;
  }
}

