<nb-card-header>
  <div class="d-inline-block" ngbDropdown>
    <button ngbDropdownToggle class="btn btn-outline-primary"
            [ngClass]="{
              'btn-success': currentTheme === 'default',
              'btn-primary': currentTheme !== 'default'}">
      {{ selectedCurrency }}
    </button>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li class="dropdown-item" *ngFor="let currency of currencies" (click)="changeCurrency(currency)">{{ currency }}</li>
    </ul>
  </div>
</nb-card-header>
<nb-card-body>
  <div class="chart-info">
    <div class="title">Daily Income</div>
    <div class="value">{{ earningLiveUpdateCardData.dailyIncome }}</div>
    <div class="delta"
         [class.up]="earningLiveUpdateCardData.delta.up"
         [class.down]="!earningLiveUpdateCardData.delta.up">
      {{ earningLiveUpdateCardData.delta.value }}%
    </div>
  </div>
  <shc-live-update-chart [liveUpdateChartData]="liveUpdateChartData"></shc-live-update-chart>
</nb-card-body>
