<!-- <app-employee-count *ngIf="employeeService.Employees"  [all]="GetAllEmployees()" [male]="GetMaleEmployees()" [female]="GetFemaleEmployees()" (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"></app-employee-count> -->
<table>
    <thead>
        <tr>
            <th colspan="4">
                Employee Details
            </th>
        </tr>
        <tr>
            <td></td>
            <th style="text-align: left;">
                Full Name
            </th>
            <th style="text-align: left;">
                Gender
            </th>
            <th style="text-align: left;">
                Salary
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeService.Employees;let count = index;">
         
              <td>{{count}}</td>

                <td>{{GetFullName(employee.Fname,employee.Lname)}}</td>

                <td>{{employee.Gender}}</td>

                <td>{{employee.Salary | currency:'USD':true:'1.4-4'}}</td>

                <td>
                    <a routerLink="/detail/{{employee.ID}}">Click Here</a>
                </td>
        </tr>

        <tr *ngIf="!employeeService.Employees">
            <td colspan="4">
                {{MessageStatus}}
            </td>
        </tr>

        <tr *ngIf="employeeService.Employees && employeeService.Employees.length == 0">
            <td colspan="4">
                No Employees to display
            </td>
        </tr>
    </tbody>
</table>
